<!DOCTYPE html>
<html>
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if current_user %>
    <p> You are logged in as <%= current_user.username %></p>
    <%= link_to "Log out", logout_path %>
  <% else %>
    <%= link_to "Signup", signup_path %>
    <%= link_to "Log in", login_path %>
  <% end %>

  <% unless flash[:notice].blank? %>
    <p id="flash_notice"><%= flash[:notice] %></p>
  <% end %>

  <% unless flash[:alert].blank? %>
    <p id="flash_alert"><%= flash[:alert] %></p>
  <% end %>

  <%= yield %> #<!-- views injected into the layout here -->


</body>
</html>
